<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sdp.moneyrun">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">


        <activity android:name=".MapActivity">
        </activity>


        <activity android:name=".LeaderboardActivity" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".placeHolderSignUp"
            android:parentActivityName=".LoginActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".placeHolderSignUp" />
        </activity>
        <activity android:name=".MainActivity">
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity android:name=".PlayerProfileActivity" />
        <activity
            android:name=".RegisterPlayerActivity"
            android:label="Register Player" />
    </application>

</manifest>