<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sdp.moneyrun">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE " />

    <application
        android:icon="@mipmap/coin"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity android:name=".ui.game.EndGameActivity" />
        <activity android:name=".ui.map.MapActivity"
            android:screenOrientation="portrait"

            />
        <activity
            android:name=".ui.menu.LeaderboardActivity"
            android:theme="@style/NullTheme" />


        <activity android:name=".ui.menu.MainLeaderboardActivity" />
        <activity android:name=".ui.menu.friendlist.FriendListActivity" />
        <activity android:name=".ui.menu.friendlist.AddFriendListActivity" />

        <activity
            android:name=".ui.authentication.SignUpActivity"
            android:theme="@style/NullTheme"
            tools:ignore="AllowBackup" />

        <activity
            android:name=".ui.menu.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ui.map.OfflineMapDownloaderActivity" />
        <activity
            android:name=".ui.authentication.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/NullTheme" />
        <activity
            android:name=".ui.player.UserProfileActivity"
            android:theme="@style/NullTheme" />
        <activity
            android:name=".ui.authentication.RegisterUserActivity"
            android:label="Register Player"
            android:theme="@style/NullTheme" />
        <activity android:name=".ui.game.GameLobbyActivity" />

    </application>

</manifest>
